<!DOCTYPE html>
<html>
  <head>
    <title>Better Than Google</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
    <style type="text/css">
        .container {
            max-width: 800px;
            padding-top: 20px;
        }
        input {
            max-width: 200px;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <h1>Better Than Google Search Engine</h1>
        <br>
        <form role="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="term" placeholder="Enter search term" required>
                <input type="text" class="form-control" name="source" placeholder="Enter source URL" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br>
        <p>Search Term: {{term}}</p>
		<p>Source URL: {{source}}</p>
    </div>
	<div class="container">
		<h3>Results</h3>
		<div>
			{{result}}
		</div>
	</div>
  </body>
</html>