{% extends "option.html" %} {% block content2 %}

<div class="container">
    <h3>Results (number of occurrencies)</h3>
    {{result}}
    <div class="table-responsive">
            <table id="example" class="table table-hover table-striped table-bordered" style="width:100%">
            <thead><tr>
                {% for ele in titles %}
                <th>{{ ele }}</th>
                {% endfor %}
            </tr></thead>
            <tbody><tr>
                {% for ele in counts %}
                <td>{{ ele }}</td>
                {% endfor %}
            </tr></tbody>
        </table>
    </div>
</div>
{% endblock %}